<h3>My Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Name </label>
    <textarea id="name">Enter your Name</textarea>
  </div>
  <div>
    <label for="mobile"> Mobile No </label>
    <textarea id="mobile">Enter your Mobile No</textarea>
  </div>

  <div>
    <label for="address"> Your Address </label>

    <textarea id="address">Enter your Address</textarea>
  </div>

  <div>
    <label for="pin"> PIN No </label>
    <textarea id="pin">Enter your PIN No</textarea>
  </div>
  <button class="button" type="submit">Purchase</button>
</form>
